html, body {
  width: 360px;
  height: 302px;
  margin: 0;
  padding: 0;
}

#slacky-popover {
  width: 360px;
  height: 302px;
  background-color: #15bcb7;
  font-family: Arial;
  font-size: 16px;
  background-image: url('chrome-extension://__MSG_@@extension_id__/businesscat.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom;
  border: none;
}

#slacky-popover * {
  font-family: Arial;
  font-size: 14px;
  font-weight: 100;
}

#slacky-popover input#meme-input {
  width: 100%;
  font-size: 2em;
  padding: 0;
  padding-left: 4px;
  box-sizing: border-box;
  line-height: 1em;
  margin: 0;
  border-radius: 0;
}
#slacky-popover img#meme {
  display: block;
  margin-top: 4px;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
  max-height: 220px;
  border: 1px solid white;
}
#slacky-popover #meme-controls {
    position: absolute;
    bottom: 0;
    background: transparent;
    width: 100%;
    padding: 0;
    margin: 0;
    right:0;
    text-align: center;
}

#slacky-popover #meme-controls button {
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
}

#slacky-popover #meme-url {
    display: none;
}

#slacky-popover button {
  padding-top: 3px;
  padding-bottom: 3px;
  padding-right: 6px;
  padding-left: 6px;;
  width: auto;
  height: auto;
  background: #2a2a2a;
  color: #fff;
  text-decoration: none;
  opacity: 0.8;
  cursor: pointer;
  border: 0;
  border-radius: 2px;
  line-height: 14px;
}

#slacky-popover button:hover {
  opacity: 1;
  transition: all 0.2s ease;
}

#slacky-popover #error-container {
  background: rgba(255, 80, 80, 0.9);
  color: black;
  margin: 0;
  display: none;
  padding: 0;
  position: absolute;
  z-index: 10;
  width: 100%;
}

#slacky-popover #error {
  padding: 4px;
  margin: 0;
}

#slacky-popover #hide-error {
  top: 4px;
  right: 0;
  position: absolute;
  font-size: 2em;
  line-height: 0.5em;
  cursor: pointer;
}

#slacky-popover .control {
  color: white;
}

#slacky-popover a.control:visited {
  color: default;
}

#slacky-popover a.control:hover {
  text-decoration: none;
  color: default;
}