#slacky-popover {
  width: 360px;
  height: 302px;
  background-color: #15bcb7;
  margin-top: 8px;
  padding-bottom: 0;
  margin-bottom: 0;
  display: none;
  position: absolute;
  z-index: 1000;
  right: 4px;
  top: 0;
  font-family: Arial;
  font-size: 16px;
  background-image: url('chrome-extension://__MSG_@@extension_id__/businesscat.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom;
}
#slacky-popover input#meme-input {
  width: 100%;
  font-size: 2em;
  padding: 0;
  font-family: Arial;
  box-sizing: border-box;
}
#slacky-popover img#meme {
  display: block;
  margin-top: 4px;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
  max-height: 220px;
  border: 1px solid white;
}
#slacky-popover #meme-controls {
    position: absolute;
    bottom: 0;
    background: rgba(255, 255, 255, 0.8);
    width: 100%;
    padding: 0;
    margin: 0;
    right:0
}
#slacky-popover #meme-url {
    width: 55%;
}

#slacky-popover #error-container {
  background: rgba(255, 80, 80, 0.9);
  color: black;
  margin: 0;
  display: none;
  padding: 0;
  position: absolute;
  z-index: 10;
  width: 100%;
}

#slacky-popover #error {
  padding: 4px;
  margin: 0;
}

#slacky-popover #hide-error {
  top: 4px;
  right: 0;
  position: absolute;
  font-size: 2em;
  line-height: 0.5em;
  cursor: pointer;
}

#slacky-popover:after {
  bottom: 100%;
	right: 0;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	border-color: rgba(21, 188, 183, 0);
	border-bottom-color: #15bcb7;
	border-width: 7px;
	margin-right: 35px;
}